footer {
  color: white;
  font-size: 0.636rem;
  text-align: center;
  height: 2.45rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  /* position: relative; */
  /* bottom: 0.4rem; */
}
@media screen and (max-width: 768px) {
  footer {
    font-size: 0.4528rem;
    height: 1.9rem;
    /* position: relative;
    bottom: 0.6rem; */
  }
}
