.resuable-head-title {
  padding-top: 1.227rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.199rem;
  text-align: center;
  color: black;
  margin-bottom: 0;
  padding-bottom: 0;
}

.resuable-head-title span {
  color: var(--brandclr);
  /* border-bottom: 3px solid var(--brandclr);
  /* padding: 0 0.5555rem;
  position: relative;
  left: -0.5555rem; */ 
}

.resuable-head-description {
  color: var(--ourServicesGrayClr);
  font-size: 0.622rem;
  padding-top: 0.714rem;
  text-align: center;
  width: 11.57rem;
  margin: 0 !important;
}

@media screen and (min-width: 768px) {
.resuable-head-title {
  padding-top: 1.207rem;
}
.resuable-head-title span {
  color: var(--brandclr);
}
.resuable-head-description {
  color: var(--ourServicesGrayClr);
  font-size: 0.415rem;
  padding-top: 0.358rem;
  width: auto;
}
}