
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html {
    font-size: 6.76vw;
    /* font-size:28px */
}

:root {
    --brandclr: #802A8F;
    --whycioncardbg: #D37FA0;
    --colorBlack: #444444;
    --ourServicesGrayClr: #979797;
    --FindOurLocationsbgclr: #FBE4FF;
    --ourservicesCardBorderClr: #D5D5D5;
    --ourDoctorsBoxShadow: box-shadow: 16px 18px 45px 0px #00000026;

}

.main-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    background-color: white;
    position: sticky;
    top:0;
    z-index: 1;
}
.nav-bar {
    height: 2.14rem;
    width: 14.78rem;

}

header img {
    display: none;

}

/* .form-details-container img {
display: none;
} */


.nav__bar__for__small {
    height: 0.53rem;
    margin-top: 0.5rem;
    margin-left: 0.41rem;
}

.nav__bar__phone__icon {
    width: 1.18rem;
    height: 1.18rem;
    margin-top: 0.46rem;
    margin-left: 3.93rem;
    border-radius: 0.17rem;
}

.nav-bar .nav__bar__Cion-logo {

    width: 3.46rem;
    height: 1.18rem;
    margin-left: 3.82rem;
    margin-top: 0.46rem;
}


header .medium__device__bannerImage {
    display: none;
}

header .small__device__bannerImage {
    width: 14.78rem;
    height: 14.64rem;
    display: inline;
}

.header__content__sm h1 {
  
    height: 3.71rem;
    color: #000000;
    font-weight: 700;
    font-size: 0.71rem;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 13.5rem;
}
.header__bullet__points{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


#minutes__session{
    position: relative;
    bottom: 16.8rem;
    right: 0.95rem;
    font-weight: 500;
  
}

#minutes__session h2{
    position: relative;
    bottom: 16.8rem;
    right: 0.95rem;
    font-weight: 400;
  font-size: 0.58rem;
}
.header__bullet__points p:nth-child(2){
    width: 7rem;
}
.header__bullet__points p:first-child{
    position: relative;
    left: 1rem;
}
.header__content__sm p {
    font-size: 0.43rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
    position: relative;
    bottom: 19.8rem;
    color: var(--brandclr);
}

.header__content__sm img {
    width: 0.92rem;
    height: 0.92rem;
    display: inline;
}

.Book-appointment-sm {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 6.5rem;

}

.Book-appointment-sm img {
    width: 0.76rem;
    height: 0.76rem;
}

.Book-appointment-sm button {
    width: 6.69rem;
    height: 1.62rem;
    border-radius: 0.23rem;
    background-color: var(--brandclr);
    font-size: 0.55rem;
    font-weight: 700;
    border: none;
    position: relative;
    box-shadow: 0.17rem 0.17rem 0.53rem 0rem var(--brandclr);
    bottom: 5.1rem;
}
.header__content__sm__p{
    margin-left: 5.49rem;
}

.our-services-container div h1 span {
    color: var(--brandclr);
}

.our__services__h1 {
    font-size: 1rem;
    font-weight: 700;
}

.our__services {
    text-align: center;
    position: relative;
    bottom: 10.3rem;
   
}

.our__services P {
    font-size: 0.57rem;
    width: 14rem;
    height: 3.39rem;
    font-weight: 400;
    margin-left: 0.4rem;
    color: var(--ourServicesGrayClr);
}

.our__services__span {
    width: 4.96rem;
    display: block;
    border-radius: 0.1rem;
    border: 0.1rem solid var(--brandclr);
    margin-left: 6.14rem;
    position: relative;
    bottom: 0.5rem;
    right: 0.2rem;
}

.our-services-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.03rem;
    position: relative;
    bottom: 9.7rem;
}

.our-services-card {
    width: 5.53rem;
    height: 6.07rem;
    border: 0.08rem solid #D5D5D5;
    border-radius: 0.18rem;
}

.our-services-card h1 {
    font-size: 0.5rem !important;
    font-weight: 700;
    margin-top: 0.63rem;
    position: relative;
    bottom: 0.25rem;
}

.our-services-card p {
    font-size: 0.44rem;
    height: 3.07rem;
    font-weight: 400;
    text-align: center;
    position: relative;
    bottom: 0.9rem;
    line-height: 0.55rem;
    padding: 0.4rem;
}

.our-services-card img {
    margin-top: 0.52rem;
    width: 1.76rem;
    height: 1.76rem;
}

.our-services-card:hover {
    background-color: var(--brandclr);
    color: white;
}

#TreatmentPlan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.68rem;
    position: relative;
    bottom: 8.5rem;
    
}

#TreatmentPlan-container button {
    width: 7.4rem;  
    height: 1.4rem;
    font-size: 0.64rem;
    font-weight: 700;
     background-color: var(--brandclr);
    border-radius: 0.14rem;
    text-align: center;
    border: none;
}


.form-details-container {
    position: relative;
    bottom: 7.8rem;
}

.form-details-container form {
    width: 14.78rem;
    height: 14.4rem;
    background-color: var(--brandclr);

}

.why__choose__us {
    display: block;
    width: 14.78rem;
    height: 17.03rem;
    background-color: var(--whycioncardbg);
}


.name__email__phone__password__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    justify-content: center;
    position: relative;
    top: 1rem;

}

.name__profile__container,
.name__email__container {
    display: flex;
    align-items: center;
    border-bottom: 0.035rem solid #FFFFFF;

}

.name__profile__container img,
.name__email__container img {
    margin-right: 0.5rem;
    position: relative;
    left: 0.5rem
}

.name__phone__container {
    margin-top: 0.5rem;


}

.name__profile__img {
    width: 0.64rem;
    height: 0.64rem;

}

.name__email__img {
    width: 0.75rem;
    height: 0.54rem;
}

.name__phone__img {
    width: 0.40rem;
    height: 0.70rem;
}

.name__location__img {
    width: 0.48rem;
    height: 0.65rem;
}



.name__profile__container input,
.name__email__container input {
    width: 9rem;
    position: relative;
    height: 1.03rem;
    background-color: transparent;
    color: #FFFFFF;
    margin-left: 0.5rem;
    border: none;
}

.form-textarea textarea {
    width: 10.68rem;
    height: 2.43rem;
    background-color: transparent;
    border: 0.035rem solid #FFFFFF;
    border-radius: 0.18rem;
    margin-top: 2rem;
    margin-left: 2.1rem;
    overflow: hidden;
    color: white;
}

textarea::placeholder {
    font-size: 0.58rem;
    opacity: 0.4;
    color: white;
    position: relative;
    left: 0.5rem;
    top: 0.3rem;
}

form button {
    width: 8.5rem;
    height: 1.5rem;
    border-radius: 0.18rem;
    font-size: 0.64rem;
    color: var(--brandclr);
    background-color: white;
    font-weight: 700;
    border: none;
    margin-left: 3rem;
    margin-top: 0.5rem;
    padding: 0.3rem;
}

form button a {
    text-decoration: none;
    color: var(--brandclr);
}

.name__profile__container input::placeholder,
.name__email__container input::placeholder {
    font-size: 0.42rem;
    font-weight: 400;
    opacity: 0.5;
    color: white;
    margin-left: 0.2rem;
}
.form__details__container__img {
    display: none;
}

form input:focus
{
    border: none;
     outline: none;  
}

form input[type="text"], form input[type="email"] ,form input[type="tel"],
form textarea {
    font-size: 0.40rem;
}


.why-cion-smalldevice-container{
    height: 17.03rem;
    padding: 0.32rem 1rem;
    background-color: var(--whycioncardbg);
    display: flex;
    flex-direction: column;

  }
  
  .why-cion-smalldevice-container h2{
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0.5rem;
    line-height: 1rem;
  }
  
  .why-cion-smalldevice-container > span{
    display: block;
    border: solid 0.1rem #fff;
    margin-top: 0px !important;
    border-radius: 0.2rem; 
    position: relative;
    left: -0.6rem;
    width: 9.77rem;
    bottom: 0.42rem;
  }
  
  .whycion_card_maincontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  
  .whyCion__cardcontainer{
      width: 40%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .whycion_card_maincontainer{
    margin-top: 0.5rem;
  }
  
  .whyCion__cardcontainer img{
    width: 2.28rem;
    height: 2.28rem;
    margin-bottom: 0.25rem;
  }
  
  .whyCion__cardcontainer p{
    color: #fff;
    font-size: 0.5rem;
    font-weight: 400;
    width: 4.16rem;
  
  }
  .why-cion-smalldevice-container > button{
    background-color: white;
    width: 6.78rem;
    height: 1.5rem;
    border-radius: 0.17rem;
    padding: 0.35rem 0.71rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none;
    outline:none;
    cursor: pointer;
    color: var(--whycioncardbg);
    font-weight: 700;
    font-size: 0.52rem !important;
  }




/* Large devices media  query */

@media screen and (min-width : 768px) {

    html {
        font-size: 1.87vw;
        width: 53.33rem;
        /* font-size: 36px; */
    }

    .nav-bar {
        height: 3.33rem;
    }

    .nav-bar .nav__bar__Cion-logo {

        width: 6rem;
        height: 2.16rem;
        margin-left: 3.75rem;
        margin-top: 0.58rem;
    }

    header .medium__device__bannerImage {
        display: inline;
        width: 53.34rem;
        height: 18.5rem;
       
    }

    header .small__device__bannerImage {
        display: none;
    }
    .header__content__sm h1 {
display: block;
    font-size: 1.67rem;
    text-align: start;
    width: 25rem;
    line-height: 1.99rem;
    bottom: 16.4rem;
    left: 2.2rem;

    }
    .header__content__sm img {
        width: 2.25rem;
        height: 2.25rem;
    }
    #minutes__session{
        font-size: 1.11rem;
        width: 14rem;
        right: 0rem;
        margin-top: 0.8rem;  
        line-height: 1.2rem;  
    }
   
    .header__content__sm p {
        font-size: 0.97rem;
        text-align: center;
        font-weight: 600;
        bottom: 0rem;
        width: 14rem;
        line-height: 0;
    }
    .header__content__sm{
        position: absolute;
    }
    .header__bullet__points{
        position: relative;
        bottom: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.65rem;
    }
    .header__bullet__points p:first-child{
        margin-left: 1.8rem;
        left: 0;
    }
    .header__bullet__points p:nth-child(2) {
        width: 14rem;
        margin-left: 1.15rem;
    }
    .header__bullet__points p:last-child{
        margin-left: 0.7rem;
    }


    .nav__bar__for__small,
    .nav__bar__phone__icon {
        display: none;

    }

    
    .Book-appointment-sm {
        display: none;
    }

    .our__services__h1 {
        margin-top: 2.22rem;
        font-size: 1rem;
        font-weight: 700;
    }

    .our__services {
        bottom: 0rem;
        margin-top: 0;
    }

    .our__services P {
        font-size: 0.58rem;
        width: 35.35rem;
        height: 1.38rem;
        margin-left: 9.05rem;
    }

    .our__services__span {
        width: 5rem !important;
        display: block;
        margin-left: 25.65rem;
        border-radius: 0.2rem;

    }

    .our-services-card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1.11rem;
        gap: 1.75rem;
        position: relative;
        bottom: 0;
    }

    .our-services-card {
        width: 8.61rem;
        height: 8.88rem;
        border: 0.027rem solid #D5D5D5;
        border-radius: 0.27rem;
    }

    .our-services-card h1 {
        font-size: 0.63rem !important;
        margin-top: 0.63rem;
        font-weight: 700;
        bottom: 0.rem;
        top: 0.1rem;
    }

    .our-services-card p {
        font-size: 0.44rem;
        margin-top: 0.11rem;
        width: 7.97rem;
        height: 1.47rem;
        margin-left: 0.2rem;
        margin-left: 0.3rem;
        font-weight: 400;
        position: relative;
        bottom: 0rem;
        padding: 0;
    }

    .our-services-card img {
        margin-top: 1.11rem;
        width: 3.61rem;
        height: 3.61rem;
    }

    #TreatmentPlan-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.27rem;
        margin-top: 1.1rem;
       bottom: 0;
    }

    #TreatmentPlan-container button {
        font-size: 0.58rem;
        font-weight: 700;
        padding: 0.27rem 0.55rem 0.27rem 0.55rem;
        background-color: var(--brandclr);
        border-radius: 0.14rem;
        text-align: center;
        border: none;
    }

    .why-cion-smalldevice-container {
        display: none !important;
    }

    .form-details-container {
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: 0rem;
    }

    .form-details-container img {

        margin-top: 2.08rem;

    }

    .form__details__container__img {
        width: 26.72rem;
        height: 16.25rem;
        display: inline;
    }

    .form-details-container form {
        width: 26.63rem;
        height: 16.25rem;
        margin-top: 2.08rem;

    }

    .name__email__phone__password__container {
        flex-direction: row;
        gap: 1rem;
        top: 0;
    }

    .name__phone__container {
        margin-top: 0rem;
    }

    .name__profile__container,
    .name__email__container {
        display: flex;
        align-items: center;
        border-bottom: 0.035rem solid #FFFFFF;

    }

    .name__profile__container img,
    .name__email__container img {
        margin-right: 0.5rem;
        position: relative;
        bottom: 0.3rem;
        left: 0.5rem
    }

    .name__profile__img {
        width: 0.66rem;
        height: 0.69rem;

    }

    .name__email__img {
        width: 0.77rem;
        height: 0.55rem;
    }

    .name__phone__img {
        width: 0.41rem;
        height: 0.72rem;
    }

    .name__location__img {
        width: 0.5rem;
        height: 0.66rem;
    }

    .name__profile__container input,
    .name__email__container input {
        width: 8rem;
        position: relative;
        height: 1.02rem;
        margin-left: 0.5rem;
        top: 0.8rem;
    }

    .form-textarea textarea {
        width: 19.36rem;
        height: 3.61rem;
        border: 0.035rem solid #FFFFFF;
        border-radius: 0.41rem;
        margin-top: 2rem;
        margin-left: 3.5rem;
    }

    textarea::placeholder {
        font-size: 0.58rem;
        position: relative;
        left: 0.5rem;
        top: 0.3rem;
    }
    form button {
        width: 9.52rem;
        height: 1.61rem;
        border-radius: 0.27rem;
        font-size: 0.63rem;
        margin-left: 8.41rem;
        margin-top: 1.35rem;
        padding: 0rem;
    }
    .name__profile__container input::placeholder,
    .name__email__container input::placeholder {
        font-size: 0.58rem;
    }
    form input[type="text"], form input[type="email"] ,form input[type="tel"],
    form textarea {
        font-size: 0.75rem;
    }
    

}



