.get-in-touch img{
    width: 3.13rem;
    height: 3.31rem;
    margin-left: 1.31rem;
  }
.get-in-touch{
    background-image: url(../assets/getintouch-bg-sm.webp);
      width: 100%;
      height: 4.27rem;
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
  }
  
  .get-in-touch__h1{
      font-size: 0.62rem;
      color: white;
      font-weight: 600;
      line-height: 0.76rem;
  }
  .get-in-touch__inner__container>button>a{
      text-decoration: none;
      color: white;
  }
  .get-in-touch__inner__container>button{
      width: 4.66rem;
      height: 1rem;
      background-color: var(--brandClr);
      font-size: 0.622rem;
      font-weight: 600;
      border: none;
      border-radius: 0.11rem;
      margin-top: 0.3rem;

  }
  .get-in-touch__inner__container{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
  }
  
@media screen and (min-width:768px){

    .get-in-touch img{
        width: 2.92rem;
        height: 2.94rem ;
        margin-left: 3.56rem;
      }
.get-in-touch{
  background-image: url(../assets/Getin-touch-bg.webp);
    width: 100%;
    height: 4.30rem;
}

.get-in-touch__h1{
   margin-left: 0.7rem;

}
.get-in-touch__inner__container>button>a{
    text-decoration: none;
    color: white;
}
.get-in-touch__inner__container>button{
    width: 4.66rem;
    height: 1rem;
    border-radius: 0.11rem;
    margin-left: 7.4rem;
    margin-top: 0;
}
.get-in-touch__inner__container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
