
  
  .popup-container {
    background-color: #f0d0dd;
    width: 16.81rem;
    height: 36.31rem;
    display: flex;
    flex-direction: column;
  }
  
  div:where(.swal2-container) .swal2-html-container {
    margin: auto !important;
    height: 100% !important;
    overflow: hidden !important;
  }
  
  div:where(.swal2-container) button:where(.swal2-close):hover {
    transform: none;
    background: var(--brandClr) !important;
    color: #fff !important;
    border: none;
    outline: none;
  }
  
  .popup-container__banner-image-section {
    width: 16.81rem;
    height: 16.5rem;
    background-image: url(../assets/popupBanner.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
  .popup-container__banner-image-section > img{
    height: 100%;
    width: 100%;
    
  }

  .popup-container__text-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0d0dd;
    margin: 1.66rem 0px;
  }
  
  .popup-container__text-container > h3 {
    color: var(--brandClr);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.7rem;
    display: none;
  }

  .popup-container__banner-image-section > h2{
    font-size: 1.45rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.74rem;
    width: 15.77rem;
    text-align: center;
  }

  .popup-container__text-container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .swal2-close {
    top: 0.8rem !important;
    left: -0.8rem !important;
  }
  .popup-container__text-container > form > input {
    width: 15.18rem;
    height: 2.07rem;
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
    border-radius: 0.19rem;
    padding: 0 0.52rem;
    margin-bottom: 1.06rem;
    font-size: 0.72rem;
    font-weight: 400;
    margin-bottom: 1.27rem;
    box-shadow: 1px 1px 2px 0px #3e434740;
  }
  
  .popup-container__text-container > form > label {
    display: none;
  }
  
  .popup-container__text-container > form > input:focus {
    border: none;
    outline: none;
  }
  
  .popup-container__text-container > form > button {
    background-color: var(--brandClr);
    width: 10.5rem;
    height: 2.81rem;
    border-radius: 0.27rem;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .popup-container__text-container > form > a > button{
    display: none;
  }

  .popup-container__text-container > form > a {
    text-decoration: none;
    color: #fff;
    display: none;
  }
  
  .popupbtn1,
  .popupbtn1 > img {
    width: 1.35rem;
    height: 1.35rem;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    right: -3.8rem;
    top: 1.1rem;
  }
  
  .popupbtn2 {
    display: none;
  }
  
  div:where(.swal2-container) div:where(.swal2-popup) {
    background-color: transparent !important;
 
  }


  .popup-container__banner-image-section > h3{
    font-size: 1rem;
    font-weight: 700;
    color: #f0d0dd;
    margin-bottom: 0.22rem;
    text-align: start;
    
    align-self: flex-start;
    margin-left: 1.35rem;
    display: none;
  }

  .popup-container__banner-image-section > p{
    color: #fff;
    text-align: start;
    font-size: 0.62rem;
    font-weight: 400;
    line-height: 0.78rem;
    margin-left: 1.35rem;
    align-self: flex-start;
    width: 12.48rem;
    display: none;
  }

  .popup-container__steps-container{
    margin-top: 0.32rem;
    margin-bottom: 0.32rem;
  }


  .popup-container__steps-container > p {

    font-size: 1rem;
    font-weight: 600;
    color: var(--brandClr);
    width: 15.13rem;
    margin-bottom: 0.31rem;
  }

 
  
  @media screen and (min-width: 768px) {
    .swal2-html-container {
      width: 25.1rem;
    }
  
    .popup-container {
      height: 13.11rem;
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
    .popup-container__banner-image-section{
      width: 12.6rem;
      height: 100% !important;
    }

    .popup-container__banner-image-section > h2{
      display: none;
    }
    .popup-container__banner-image-section > h3{
      display: block;
    }
    .popup-container__banner-image-section > p{
      width: 9.01rem;
      display: block;
    }
  
    .popup-container__banner-image-section > img{
      width: 100%;
      height: 100%;
    }
    .popup-container__text-container {
      height: 100%;
      margin: auto;
    }
  
    .popup-container__text-container > h3 {
      margin-top: 0.9rem;
      font-size: 0.74rem !important;
      margin-bottom: 0.43rem;
    }
    .popup-container__text-container > form > input {
      width: 10.9rem;
      height: 1.22rem;
      border-radius: 0.11rem;
      font-size: 0.47rem;
      margin-bottom: 0.64rem;
    }

    .popup-container__text-container > form > label {
      font-size: 1rem;
      font-weight: 600;
      color: #000 !important;
      margin: 0.65rem 0px;
      display: flex;
    }
    
    .popup-container__text-container > form > button {
      padding: 0.3rem 0.45rem;
      width: 5.03rem;
      height: 1.39rem;
      font-size: 0.62rem;
      margin-bottom: 0.4rem;


    }

    .popup-container__text-container > form > a{
      display: flex;
    }

    .popup-container__text-container > form > a > button{
      background-color: var(--brandClr);
      border-radius: 0.27rem;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 600;

      padding: 0.3rem 0.45rem;
      width: 5.03rem;
      height: 1.39rem;
      font-size: 0.62rem;
      margin-bottom: 0.4rem;

    }
    .popup-container__text-container > form {
    margin-top: 1.5rem;
    }
  
    .popupbtn1,
    .popupbtn1 > img {
      display: none;
    }
  
    .popupbtn2,
    .popupbtn2 > img {
      display: block;
      width: 1.26rem !important;
      height: 1.26rem !important;
      border: none;
      outline: none;
      cursor: pointer;
      position: relative;
      background-color: transparent;
      left: 11.8rem;
      top: 0.7rem;
    }
  
    div:where(.swal2-container) div:where(.swal2-popup) {
      background-color: transparent !important;

    }
  
    .popup-container__text-container > form > label {
      margin: 0.4rem 0 0.2rem 0px;
      position: relative;
      bottom: 0.35rem;
    }
      .popup-container__steps-container{
    display: none;
  }
  }
  